[submodule "ros_workspace/src/usb_cam"]
	path = ros_workspace/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "ros_workspace/src/uuv_simulator"]
	path = ros_workspace/src/uuv_simulator
	url = https://github.com/uuvsimulator/uuv_simulator.git